container_commands:
    01-no_dev:
        command: "/usr/bin/composer.phar install --optimize-autoloader"
    02-config_clear:
        command: "php artisan config:clear"
    03-view_clear:
        command: "php artisan view:clear"
    04-route_cache:
        command: "php artisan route:cache"
    05-view_cache:
        command: "php artisan view:cache"
    06-chmod_storage:
        command: "chmod 775 storage -R"
    07-chmod_bootstrap:
        command: "chmod 775 bootstrap -R"
    08-migrate:
        command: "php artisan migrate --force"
    09-link:
        command: "ln -s ../storage/app/public public/storage"
    10-seeders:
        command: "php artisan db:seed --force"
    11-npm:
        command: "npm install"
    12-npm_dependencies:
        command: "npm run build"
files:
    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root