container_commands:
  01_create_cron:
    command: "echo '* * * * * root /usr/bin/php /var/www/html/artisan vehicles:update-status' > /etc/cron.d/vehicles-update-status"
    leader_only: true

commands:
  01_set_permissions:
    command: "chmod 644 /etc/cron.d/vehicles-update-status"
  02_restart_cron:
    command: "service crond restart"
