files:
  "/etc/cron.d/vehicles-update-status":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root . /opt/elasticbeanstalk/deployment/env && /usr/bin/php /var/www/html/artisan vehicles:update-status >> /var/www/html/laralog.log 2>&1

commands:
  01_restart_cron:
    command: "service crond restart"
