option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PHP_MEMORY_LIMIT
    value: 256M
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PHP_POST_MAX_SIZE
    value: 32M
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PHP_UPLOAD_MAX_FILESIZE
    value: 32M
