body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    gap: 10px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #232f3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #333940;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-content {
    background-color: #e3e0e0;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    animation: slideIn 0.2s;
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin-right: 5px;
}

.modal input[type="text"],
.modal select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #232f3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button[type="submit"]:hover {
    background-color: #393e43;
}

.list-table {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow-x: auto;
}

.list-table table {
    width: 100%;
    border-collapse: collapse;
}

.list-table th,
.list-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.list-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.list-table tr:hover {
    background-color: #f9f9f9;
}

.add-button {
    background-color: #232f3a;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #101d2b;
}

.delete-link {
    color: #c82333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-link:hover {
    color: #a71d2a;
}
