container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader"
    02-key_generate:
        command: "php artisan key:generate"
    03-config_clear:
        command: "php artisan config:clear"
    04-view_clear:
        command: "php artisan view:clear"
    05-route_cache:
        command: "php artisan route:cache"
    06-view_cache:
        command: "php artisan view:cache"
    07-migrate:
        command: "php artisan migrate"